<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_s3kb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_s3kb_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S3KB"
        tools:targetApi="31">
        <activity
            android:name=".AddRentalImagesActivity"
            android:exported="false" />
        <activity
            android:name=".AddRentalActivity"
            android:exported="false" />
        <activity
            android:name=".PropertySeekerActivity"
            android:exported="false" />
        <activity
            android:name=".BasicQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectStarterPageActivity"
            android:exported="false" />
        <activity
            android:name=".AboutMe"
            android:exported="false" />
        <activity
            android:name=".StickersHistory"
            android:exported="false" />
        <activity
            android:name=".StickItToEm"
            android:exported="false" />
        <activity
            android:name=".LoginA8Activity"
            android:exported="false" />
        <activity
            android:name=".InterbankTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".FinancialInclusionActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".BihTradingActivities"
            android:exported="false" />
        <activity
            android:name=".BihHeatMapActivity"
            android:exported="false" />
        <activity
            android:name=".FinancialAndCapitalMarketsActivity"
            android:exported="false" />
        <activity
            android:name=".AtYourServiceActivity"
            android:exported="false"
            android:networkSecurityConfig="@xml/netwok_security_config" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>